.navbar {
  background-color: #005eb8;
}

.shop-all-container {
  background-color: #e9ecefac;
}

.shop-all img {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: all 1.1s;
}

.shop-all img:hover {
  transform: scale(1.1);
}

.hero-section img {
  transition: all 1.1s;
}
.hero-section img:hover {
  transform: scale(1.05);
}
